.headerItem,
.item {
  display: flex;
  align-items: center;

  padding: 5px;
  border: 1px solid var(--primary-background);
  margin-bottom: 5px;
}

.item {
  justify-content: space-between;
  border-style: dashed;
  margin-bottom: 10px;
}

.headerItem:hover,
.item:hover {
  border-style: solid;
  border-color: var(--accent-background);
}

.headerItemInner {
  flex: 1;
  margin-left: 5px;
}

.itemIndented {
  margin-left: 25px;
  margin-bottom: 5px;
}

.item:not(.itemIndented) {
  justify-content: unset;

  .itemInner {
    flex: 1;
    margin-left: 5px;
  }
}

.coverInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 598px) {
  .headerItem > div:first-child,
  .coverInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Actions styling */
.actions {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.headerItem:hover .actions,
.item:hover .actions {
  pointer-events: unset;
  visibility: visible;
  opacity: 1;
}
