.headerItem,
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  border: 1px solid var(--primary-background);
  margin-bottom: 5px;
}

.item {
  border-style: dashed;
  margin-bottom: 10px;
}

.itemIndented {
  margin-left: 25px;
  margin-bottom: 5px;
}

.coverInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Actions styling */
.actions {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.headerItem:hover .actions,
.item:hover .actions {
  pointer-events: unset;
  visibility: visible;
  opacity: 1;
}
