.monthCounts {
  grid-area: history;
}

.table {
  width: 100%;
}

.tableHeader {
  font-size: 1.25rem;
}

.tableHeader .tableCellButton {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
}

.tableHeader,
.tableCell {
  height: 24px;
  width: calc(100% / 13); /* 12 Months + 1 LHS Header */
}

.tableCell {
  border: 1px solid var(--accent-background);
}

.tableCellButton,
.tableCellButton[disabled] {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 4px;
}

.tableCellInner,
.tableCellContents {
  height: 100%;
  width: 100%;
}

.tableCellContents {
  background-color: var(--statistics-table-cell-colour);
  text-align: center;
}

/* Unset the width to allow the responsive table styles to handle it */
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .tableHeader,
  .tableCell {
    width: unset;
  }

  .tableCellButton,
  .tableCellButton[disabled] {
    margin-top: 0;
  }

  .tableCellInner {
    border-left: 1px solid #000;
  }
}
