.headerItem,
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  border: 1px solid var(--primary-background);
  margin-bottom: 5px;
}

.item {
  border-style: dashed;
  margin-bottom: 10px;
}

.headerItem:hover,
.item:hover {
  border-style: solid;
  border-color: var(--accent-background);
}

.itemIndented {
  margin-left: 25px;
  margin-bottom: 5px;
}

.coverInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 598px) {
  .headerItem > div:first-child,
  .coverInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.repeatIcon {
  display: flex;
  align-items: center;
  color: var(--warning-colour);
  margin-top: -5px;
  margin-left: 10px;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Actions styling */
.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 37px; /* Height of text + button */
}
