.control {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 5px;
  margin-bottom: 10px;
}

.input {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--primary-background);
}

.input:invalid {
  border: 2px solid var(--danger-colour);
}

.hidden {
  padding: 0;
  margin: 0;
}

.checkbox {
  flex-direction: row-reverse;
}

.checkbox label {
  margin-left: 5px;
}
.checkbox label,
.checkbox input {
  cursor: pointer;
}
