.control {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 5px;
  margin-bottom: 10px;
}

.select {
  width: 100%;
}

.input {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--primary-background);
}

.input:invalid {
  border: 2px solid var(--danger-colour);
}

.hidden {
  padding: 0;
  margin: 0;
}

.checkbox {
  flex-direction: row-reverse;
}

.checkbox label {
  margin-left: 5px;
}
.checkbox label,
.checkbox input {
  cursor: pointer;
}

/* multiple select highlight */
.control > select[multiple] {
  min-height: calc(
    (18px * 6) - 1px
  ); /* option height x no. of rows I want to see */
}

.control > select[multiple] option {
  margin-right: 2px;
}

.control > select[multiple] option:checked {
  background-color: var(--accent-background);
  color: var(--accent-constrast-colour);
}
