.item {
  display: flex;
  flex-direction: column;

  padding: 5px;
  border: 1px dashed var(--primary-background);
  margin-bottom: 10px;
}

.item:hover {
  border-style: solid;
  border-color: var(--accent-background);
}

.coverInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 598px) {
  .main {
    flex-direction: column;
    align-items: flex-start;
  }
  .main > div:not(:last-child) {
    margin-bottom: 15px;
  }
}

.noSelect {
  user-select: none;
}
